.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  // font-weight: bold;
  padding: 0.5rem 1.25rem;
  transition: all 0.3s ease;
  text-decoration: none;
}

.primary {
  background-color: $color-primary;
  color: #fff;
  &:hover {
    background-color: darken($color-primary, 10%);
  }

}

.secondary {
  background-color: $color-secondary;
  color: #fff;
  &:hover {
    background-color: darken($color-secondary, 10%);
  }
}

.white {
  background-color: white;
  color: $color-primary;
  &:hover {
    background-color: $color-primary;
    color: white;
  }
}

.BlackBtn {
  width: 100%;
  background: #fff;
  color: #000;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  &:hover {
    background: #000;
    color: #fff;
  }
}

.WhiteBtn {
  width: 100%;
  background: #000;
  color: #fff;
  border: 1px solid #000;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  &:hover {
    background: #fff;
    color: #000;
  }
  &:active {
    background: #000;
    color: #fff;
  }
}


.border {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.transparent {
  color: $color-primary;
  background-color: transparent;
  border-radius: 5px;
  box-sizing: border-box;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    background-color: #dad5d5;
    color: black;
  }
}

.small {
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
}


.medium {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
}

.large {
  font-size: 1.2rem;
  padding: 1rem 2rem;
}
.rounded {
  font-size: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 9999px;
}

.regular {
  padding: 0.5rem 0.5rem;
}