.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1.25rem;
  transition: all 0.3s ease;
  text-decoration: none;
}

.primary {
  background-color: $color-primary;
  color: #fff;
  &:hover {
    background-color: darken($color-primary, 10%);
  }
}

.secondary {
  background-color: $color-secondary;
  color: #fff;
  &:hover {
    background-color: darken($color-secondary, 10%);
  }
}

.border {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.transparent {
  color: $color-primary;
  background-color: transparent;
  border-radius: 3px;
  box-sizing: border-box;
  &:hover {
    background-color: white;
    color: black;
  }
}

.small {
  font-size: 1rem;
  padding: 0.5rem 1.25rem;
}

.medium {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
}

.large {
  font-size: 1.2rem;
  padding: 1rem 2rem;
}

.regular {
  padding: 0.5rem 0.5rem;
}