.Hero {
  & > h1 {
    color: $color-primary;
    font-size: 7rem;
    margin: 3rem 0;
    margin-bottom: 1rem;
    letter-spacing: 0.05em;
    text-align: center;
  }
}

.Hero__imageContainer {
  position: relative;
  width: 500px;
  height: 300px;
  & > img {
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0 0 4rem rgba(255, 255, 255, 0.2);
  }
}
