.Hero {
  padding: 7rem 4rem;
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    & > h1 {
        font-size: 56px;
        line-height: 120%;
        display: inline-block;
        color: #000;
        text-align: center;
    }
    & > p {
      font-size: 16px;
      line-height: 24px;
      color: #000;
      text-align: center;
      display: inline-block;
    }
  }
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

.Hero__imageContainer {
  width: 100%;
  position: relative;
  border-radius: 10px;
  max-width: 100%;
  overflow: hidden;
  height: 700px;
  flex-shrink: 0;
  object-fit: cover;
}

/* Adjust styles for larger screens starting from 769px (tablet and desktop) */

@media screen and (min-width: 769px) {
  .Hero {
    max-width: 1312px;
    margin: 0 auto;
  }
}
