.Logos__sectionContainer {
  display: flex;
  justify-content: center;
  background-color: #f6f2ea;
}

.Logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  gap: 2rem;

  h1 {
    font-size: 1rem;
  }

  img {
    opacity: 0.7;
    width: auto;
  }

  ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    gap: 1.5rem;
  }
}

// Adjust styles for larger screens starting from 768px (tablet and desktop)
@media (min-width: 768px) {
  .Logos {
    width: 1440px;
    padding: 40px 64px;

    ul {
      justify-content: space-between;
    }
    img {
      height: 32px;
    }

    img:hover {
      opacity: 1;
      transition: opacity 0.3s ease;
    }
  }
}
