.faqSectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 100%;
  padding: 1rem;
  margin: 0 auto;
  gap: 2rem;

  &>header,
  div {
    text-align: center;
  }

  &>header,
  div,
  div header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &>header,
  div {
    gap: 1rem;
  }

  &>div header {
    gap: 0.5rem;
  }

  .faqList {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    details {
      border-left: 0.5px solid #000;
      border-right: 0.5px solid #000;

      &[open] {
        border-color: #29b6d1; // Change border color when details is open
        color: #29b6d1; // Change text color when details is open
      }

      summary {
        font-weight: 700;
        list-style: none;

        padding: 0.75rem 1rem;
        cursor: pointer;
        
      }

      p {
        font-weight: 400;
        font-style: italic;
        padding: 0.75rem 1rem;
        // color: #29b6d1; // Change text color when details is open
      }
    }
  }

  .faqBottom {
    font-size: 1rem;
    padding: 12px 24px;
    background-color: #29b6d1;
    border-radius: 5px;
    width: fit-content;
    color: #fff;
    text-decoration: none;

    a {
      color: #ff0000;
      text-decoration: none;
    }
  }
}

// Adjust styles for larger screens starting from 768px (tablet and desktop)
@media (min-width: 768px) {
  .faqSectionContainer {
    font-size: 1.125rem;
    max-width: 720px;
    padding: 112px 64px;
    gap: 5rem;

    &>header,
    div {
      gap: 1.5rem;
    }

    &>div header {
      gap: 1rem;
    }

    .faqList {
      gap: 1rem;

      summary,
      p {
        padding: 1rem 1.5rem;
      }
    }
  }
}